body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#video-frame {
  position: relative;
  transform: rotateY(180deg);
  border-radius: 20px;
  width: calc(100% - 40px);
  max-height: calc(100vh - 150px);
  object-fit: cover;

  margin-left: 20px;
  background-color: white;

  /* animate with fadeInAnimation during 3s in a loop*/
  animation: fadeInAnimation 3s ease-in-out infinite;
}

@keyframes fadeInAnimation {
  0% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  50% {
    background-color: rgba(255, 255, 255, 1);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.not-playing {
  filter: blur(5px) grayscale(100%);
  -webkit-filter: blur(5px) grayscale(50%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.box {
  position: relative;
  width: calc(100% - 40px);
  max-height: calc(100vh - 150px);
}

.box:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 48%,
    rgba(0, 61, 255, 1) 52%
  );
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
}

.box::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
}

.btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

#banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  font-size: 1.6rem;
  padding: 20px;
  z-index: 10;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 600px;
  animation: fadeInAnimation 3s ease-in-out infinite;
}

.header {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
}

.header #btnHelp {
  justify-self: start;
}

.header .header__title {
  justify-self: center;
}

.header #btn-start {
  justify-self: end;
}

.header__title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_dialog {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

dialog {
  border-radius: 20px;
  border: 0.1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#btn-start__text {
  font-size: 1.3rem;
}

#btn-start {
  display: flex;
  align-items: center;
  gap: 10px;
}
